@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&display=swap");
:root {
  --light-body-color: #e8eef3;
  --light-card-color: #ffffff;
  --dark-card-color: #191919;
  --dark-body-color: #111111;
  --logo-weight: 700;
  --text-dark: #111111;
  --text-light: #ffffff;
  --insta-bg-color-1: #ffb13d;
  --insta-bg-color-2: #dd277b;
  --insta-bg-color-3: #4d5ed4;
  --insta-bg-gradient: linear-gradient(
    15deg,
    var(--insta-bg-color-1),
    var(--insta-bg-color-2),
    var(--insta-bg-color-3)
  );

  --btn-text-color: #ffffff;

  --twitter-bg-color: #55b4f0;
  --facebook-bg-color: #4d6aa4;
  --youtube-bg-color: #ed2d23;
}

a,
a:visited {
  text-decoration: none;
  color: inherit !important;
}

* {
  font-family: "Raleway", sans-serif;
}

.body-light {
  background-color: var(--light-body-color) !important;
}

.body-dark {
  background-color: var(--dark-body-color) !important;
}
.navbar-theme-light {
  background-color: var(--light-card-color) !important;
  color: var(--text-dark) !important;
}

.navbar-theme-dark {
  background-color: var(--dark-card-color) !important;
  color: var(--text-light) !important;
}

.b-500 {
  font-weight: bold;
}

.active {
  font-weight: 600;
}

.toggle-mode:hover {
  cursor: pointer;
}
.popular-img {
  border-radius: 5px;
}

.person-img {
  border-radius: 50%;
}

a li:hover {
  background-color: rgb(241, 237, 237);
}
