.custom-card {
  border-radius: 2px;
  border: none !important;
  box-shadow: 0px 0px 1px #888888;
}

.blog-img {
  width: 210px !important;
  height: 140px;
}

.blog-img img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
}

.author-name {
  color: #4089d7 !important;
}

.blog-summary {
  font-size: small;
}

.card-container:hover {
  -webkit-animation: shadow-drop-2-right 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes shadow-drop-2-right {
  0% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px) translateX(-12px);
    transform: translateZ(50px) translateX(-12px);
    -webkit-box-shadow: 12px 0 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 12px 0 20px -12px rgba(0, 0, 0, 0.35);
  }
}
